{% extends "PhpbbArea51Bundle::layout.html.twig" %}

{% block stylesheets %}
<style type="text/css">
li p {
    margin-top: 0;
    margin-bottom: 0;
}
</style>
{% endblock %}

{% block body %}
<div class="clearfix">
    <h2>Downloads</h2>
    <p>This page hosts the latest unstable development version. All releases on this page are unsupported. Please visit <a href="https://www.phpbb.com/downloads/">the main downloads page</a> for the latest stable release.</p>
    {% if latestDevelopment %}
    <h1>Latest Development Release: {{ currentVersion }} </h1>
    <p>You can view the full set of files <a href="{{ currentVersionFiles }}">here</a></p>
    <p><strong>Full Package - <a href="{{ currentVersionFiles }}phpBB-{{ currentVersion }}.zip">zip</a> | <a href="{{ currentVersionFiles }}phpBB-{{ currentVersion }}.tar.bz2">bz2</a></strong>
        <br />SHA256: <code>{{ mainPackageSha }}</code></p>

        <h2>Upgrade Files</h2>
        {% for previousVersion in previousVersions %}
        <h3>From {{ previousVersion }}</h3>
        <ul>
        {% if later %}
        <li>
            <p>Automatic Update Package from {{ previousVersion }} - <a href="{{ currentVersionFiles }}phpBB-{{ previousVersion }}_to_{{ currentVersion }}.zip">zip</a> | <a href="{{ currentVersionFiles }}phpBB-{{ previousVersion }}_to_{{ currentVersion }}.tar.bz2">bz2</a></p>
        </li>
        {% else %}
        <li>
            <p>Automatic Update Package from {{ previousVersion }} - <a href="{{ currentUpgradeFiles }}phpBB-{{ previousVersion }}_to_{{ currentVersion }}.zip">zip</a> | <a href="{{ currentUpgradeFiles }}phpBB-{{ previousVersion }}_to_{{ currentVersion }}.tar.bz2">bz2</a></p>
        </li>
        {% endif %}
        <li>
            <p>Changed Files from {{ previousVersion }} - <a href="{{ currentVersionFiles }}phpBB-{{ currentVersion }}-files.zip">zip</a> | <a href="{{ currentVersionFiles }}phpBB-{{ currentVersion }}-files.tar.bz2">bz2</a></p>
        </li>
        <li>
            <p>Patch Files from {{ previousVersion }} - <a href="{{ currentVersionFiles }}phpBB-{{ currentVersion }}-patch.zip">zip</a> | <a href="{{ currentVersionFiles }}phpBB-{{ currentVersion }}-patch.tar.bz2">bz2</a></p>
        </li>
        </ul>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Latest repository builds</h1>
    <ul>
        <li>
            <p><a href="https://bamboo.phpbb.com/browse/PHPBB3-DDM/latestSuccessful/artifact/P5SP/Release-Files/">Proteus (3.3.x) Nightly</a></p> </li>
        <li>
            <p><a href="https://bamboo.phpbb.com/browse/PHPBB3-DD32/latestSuccessful/artifact/P5SP/Release-Files/">Rhea (3.2.x) Nightly</a></p>
        </li>
    </ul>
</div>
{% endblock %}
