{% extends "PhpbbArea51Bundle::layout.html.twig" %}

{% block body %}
<div class="clearfix">
    <h2>Main Projects</h2>
    <p>These are the main projects that phpBB develops.</p>
    <ul class="contribution-list">
        <li class="line-break full-line">
            <b><a href="https://github.com/phpbb/phpbb3" title="phpBB 3 Core">phpBB 3 Core</a></b><br />
            <p>The main project of phpBB currently is the phpBB 3 core. The repo also contains an archive of phpBB 2.
            <br />
            <a href="https://github.com/phpbb/phpbb3">[Repo]</a> 
            <a href="{{ projects|listinfo }}/phpbb-commits">[Commit Mailing List]</a>
            <a href="http://tracker.phpbb.com/browse/PHPBB3">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/phpbb" title="phpBB 4 Core">phpBB 4 Core</a></b><br />
            <p>This is a repo for the next major release of phpBB, phpBB 4. It is a complete re-write and as such it has a separate repository.
            <br />
            <a href="https://github.com/phpbb/phpbb">[Repo]</a> 
            <a href="{{ projects|listinfo }}/phpbb4-commits">[Commit Mailing List]</a>
            <a href="http://tracker.phpbb.com/browse/PHPBB4">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/documentation" title="Documentation">Documentation</a></b><br />
            <p>This contains the phpBB Documentation for phpBB 3.0
            <br />
            <a href="https://github.com/phpbb/documentation">[Repo]</a> 
            <a href="{{ projects|listinfo }}/documentation-commits">[Commit Mailing List]</a>
            <a href="https://github.com/phpbb/documentation/issues">[Tracker]</a></p>
        </li>
    </ul>
</div>

<div class="clearfix">
    <h2>phpBB Sub-Projects</h2>
    <ul class="contribution-list">
        <li>
            <b><a href="https://github.com/phpbb/automod" title="AutoMOD">AutoMOD</a></b><br />
            <p>This can be easily dropped into you phpBB 3.0 install and it will give you an ACP tool to install and uninstall phpBB Modifications
            <br />
            <a href="https://github.com/phpbb/automod">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modsmanager-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/customisation-db" title="Titania">Titania</a></b><br />
            <p>This is the customisation database used on phpBB.com and ISTs. It is codenamed titania.
            <br />
            <a href="https://github.com/phpbb/customisation-db">[Repo]</a> 
            <a href="{{ projects|listinfo }}/customisationdb-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/titania/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/support-toolkit" title="STK">Support Toolkit</a></b><br />
            <p>This can be easily dropped into you phpBB 3.0 install and provides to to help recover/fix your phpBB install.
            <br />
            <a href="https://github.com/phpbb/support-toolkit">[Repo]</a> 
            <a href="{{ projects|listinfo }}/support-toolkit-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/supportteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/modx_creator_phpbb" title="phpBB MODX Creator">MODX Creator phpBB</a></b><br />
            <p>Adds a MODX file creation tool to a phpBB install.
            <br />
            <a href="https://github.com/phpbb/modx_creator_phpbb">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/modx_creator_offline" title="Offline MODX Creator">MODX Creator Offline</a></b><br />
            <p>This is a standalone tool to create MODX files.
            <br />
            <a href="https://github.com/phpbb/modx_creator_offline">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/quickinstall" title="Quick Install">Quick Install</a></b><br />
            <p>Adds a tool to create pre-populated boards for MODing on the fly
            <br />
            <a href="https://github.com/phpbb/quickinstall">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/umil" title="UMIL">UMIL</a></b><br />
            <p>UMIL is a project that can be used to execute SQL queries and purge cache.
            <br />
            <a href="https://github.com/phpbb/umil">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/modx" title="MODX">MODX</a></b><br />
            <p>The install instructions and meta-data file for Modifications
            <br />
            <a href="https://github.com/phpbb/modx">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/mpv" title="MPV">MPV</a></b><br />
            <p>The MOD Pre-validator checks for common validation errors in Modifications
            <br />
            <a href="https://github.com/phpbb/mpv">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/modx_editor" title="MODX Editor">MODX Editor</a></b><br />
            <p>Desktop application that allows the user to edit MODX files
            <br />
            <a href="https://github.com/phpbb/modx_editor">[Repo]</a> 
            <a href="{{ projects|listinfo }}/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
    </ul>
</div>
{% endblock %}
