{% extends "PhpbbArea51Bundle::layout.html.twig" %}

{% block body %}
<div>
    <h2>phpBB &quot;3.3&quot; Rhea</h2>
    <a href="https://bamboo.phpbb.com/browse/PHPBB3-DD33/latest/artifact/JOB1/Coverage-HTML-Report/index.html">Latest Code Coverage Report</a>
    <ul class="contribution-list">
        <li>
            <b>Created vs. Resolved Tickets</b>
            <img src="{{ asset(rhea33_created_vs_resolved) }}" />
        </li>
        <li>
            <b>Average Ticket Age</b>
            <img src="{{ asset(rhea33_avg_age) }}" />
        </li>
    </ul>

    <h2>phpBB &quot;3.2&quot; Rhea</h2>
    <a href="https://bamboo.phpbb.com/browse/PHPBB3-DD32/latest/artifact/JOB1/Coverage-HTML-Report/index.html">Latest Code Coverage Report</a>
    <ul class="contribution-list">
        <li>
            <b>Created vs. Resolved Tickets</b>
            <img src="{{ asset(rhea_created_vs_resolved) }}" />
        </li>
        <li>
            <b>Average Ticket Age</b>
            <img src="{{ asset(rhea_avg_age) }}" />
        </li>
    </ul>

    <h2>phpBB &quot;3.1&quot; Ascraeus</h2>
    <a href="https://bamboo.phpbb.com/browse/PHPBB3-DD31/latest/artifact/JOB1/Coverage-HTML-Report/index.html">Latest Code Coverage Report</a>
    <ul class="contribution-list">
        <li>
            <b>Created vs. Resolved Tickets</b>
            <img src="{{ asset(ascraeus_created_vs_resolved) }}" />
        </li>
        <li>
            <b>Average Ticket Age</b>
            <img src="{{ asset(ascraeus_avg_age) }}" />
        </li>
    </ul>
</div>
{% endblock %}
